# Source Code:-

# Import Pandas

In [1]:
import pandas as pd

# Creating a dataframe using dictionary

In [2]:
d={'Name':['Tony','teju','vin'],'Age':[21,20,19]}
df = pd.DataFrame(d)

In [3]:
print(df.head())

   Name  Age
0  Tony   21
1  teju   20
2   vin   19

# Importing File

In [6]:
df1 = pd.read_csv(r'C:\Users\Admin\Downloads\Exercise.csv')

In [7]:
df1.head()

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group
0,1,2000,40000,2500,37500,400
1,2,2000,42000,2500,39500,320
2,3,2000,45000,2500,42500,200
3,4,2000,48000,2500,45500,80
4,5,2000,40000,2500,37500,400

# Thank You!